@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.faq-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}
.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-question h3 {
  margin: 0;
}

.faq-question button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.faq-answer {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.faq-header{
  margin-left: 40%;
  margin-right: 30%;
  padding: auto;
}